header {
    position: relative;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: rgba(35, 35, 35, 0.778);
    border-radius: 0  0 15px 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.main-btns {
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-theme {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 999px;
    border-style: hidden;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
}

.search {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history {
    margin-right: 5px;
}

.search input {
    border-radius: 10px;
    padding: 4px;
}

.search-btn {
    margin-left: 5px;
}

.favorites {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-menu {
    display: flex;
    flex-direction: column;
}

.registration-btn {
    padding: 1px 15px;
    margin: 1px 0 1px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: #e9e9e9;
}